@import url('./reset.css');
@import url('./vite-promo.css');

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

form {
  display: flex;
  margin-top: 20px;
}

input[type='text'] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 300px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

.main {
  padding: 20px;
}

.gallery {
  list-style: none;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.photo-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
}

.photo-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #e0e0e0;
}

.info {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #555;
  font-weight: 400;
}

.info-item {
  margin: 0;
  text-align: center;
}

.info-item b {
  display: block;
  font-weight: 600;
  font-size: 0.9rem;
  color: #333;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 1.2rem;
  color: #555;
  text-align: center;
}

.loader.hidden {
  display: none;
}

.hidden {
  display: none;
}
